*,
html,
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  position: absolute;
  padding-top: 6rem;
  background-color: #002366 !important;
}

#gallery {
  background-color: #df9f41;
}

section {
  padding-top: 5rem;
}

/* Navbar */
.navbar {
  background-color: transparent !important; /* Mengubah warna navbar menjadi transparan */
}
/* Navbar Font Styling */
.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 20px; /* Ukuran font navbar */
  font-weight: bold; /* Font tebal */
}

/* Navigasi Active */
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #FFD700 !important; /* Warna teks untuk navigasi aktif dan hover */
}


/* Jumbotron Text Styling */
.jumbotron-text {
  text-align: left;
  padding-left: 10%; /* Sesuaikan kebutuhan Anda */
  padding-top: 8%; /* Sesuaikan kebutuhan Anda agar sejajar dengan navbar */
}

.jumbotron-text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.jumbotron-text h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.jumbotron-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

/* Jumbotron Image Styling */
.jumbotron-img {
  position: absolute; /* Menggunakan posisi absolut */
  top: 50%; /* Menempatkan profil gambar di tengah vertikal */
  right: 10%; /* Adjust as needed */
  transform: translateY(-50%); /* Untuk menyesuaikan posisi secara tepat */
}

