*,
html,
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #df9f41;
}

#gallery {
  background-color: #df9f41;
}

section {
  padding-top: 5rem;
}

/* CSS untuk membuat navbar menjadi transparan */
.navbar {
  background-color: transparent !important; /* Membuat latar belakang navbar transparan */
  border-bottom: none; /* Menghapus border bawah pada navbar */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #C0C0C0 !important; /* Mengubah warna teks menjadi abu-abu */
}

.navbar-nav .nav-link:hover {
  color: #FFD700 !important; /* Mengubah warna teks saat dihover menjadi kuning */
}

.navbar-nav .nav-link.active:hover {
  color: #C0C0C0 !important; /* Mengubah warna teks saat dihover pada link yang aktif menjadi abu-abu */
}
