*,
html,
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #002366 !important;
}

#gallery {
  background-color: #df9f41;
}

section {
  padding-top: 5rem;
}

/* Navbar */
.navbar {
  background-color: transparent !important; /* Mengubah warna navbar menjadi transparan */
}

/* Navigasi Active */
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #FFD700 !important; /* Warna teks untuk navigasi aktif dan hover */
}



